{% extends 'base.html' %}
{% block content %}
 <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">well come to the styleUnion for the best products</p>
                </div>
            </div>
        </header>

<div class="container">
   <div class="row">
      <center>
       <div class="col-md-8">
        <p align="justify">
            <br>
            <br>
         What is Django?
Django is a free and open-source web framework written in Python and Based on the model-view-template
architectural pattern. Django web framework is a set of components that help you to develop websites earlier
and easier.
         <br>
While building a website, you always need a similar set of components: a way to handle user authentication
(signing up, signing in, signing out), a management panel for your website.
Fortunately, other people long ago noticed that the same problem is faced by developers while making a
website, so they teamed up and created frameworks that give you ready-made components to use and Django is
one of them.
            <br>
Q1. What do you understand by Django?
Django is a free and open source web application framework, written in Python. Django is named after Django
Reinhardt, Jazz guitarist from the 1930s to early 1950s who is one of the best guitarists of all time. Django was
mainly developed to handle the intensive design of the newsroom. You can even build high-quality web
applications using this. It adheres to the DRY principle and focuses completely on automating as much as
possible.
            <br>
            <br>
            <br>
Q2. What does Of Django Field Class types do?
Following points are specified by the Django Field Class type: –
It specifies the database column type.
It also specifies the default HTML widget which is availed while we render the form field.
The requirements of the minimal validation which is used in Django admin is also specified by the field
class.
            <br>
            <br>
            <br>
            <br>

Q3. Does Django Follow Architectural pattern?
Yes, Django follows Model-View-Controller (MVC) architectural pattern.
Q4. Clarify the architecture of Django?
Django follows MVC -MVT architecture. MVT stand for Model View Template design Pattern which is little
bit different from MVC (Model View Controller ) Pattern.

       </div>
      </center>

   </div>
</div>

{% endblock %}


